body {
    margin: 0;
    background: black;
    overflow: hidden;
}

#player {
    width: 1080px;
    height: 1920px;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    background: black;
}

video,
img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
